{
  "meta": {
    "app": {
      "name": "Jarvis",
      "bio": " ",
      "version": "1.0.0.100"
    },
    "dev": {
      "name": "Vipul Rathod",
      "nickname": "Vickey",
      "bio": "He believes, the astonishing power a Software developer has is to build whatever one wants."
    }
  },
  "operations": {
    "executables": {
      "fiddler": "fiddler.exe",
      "cmd": "cmd.exe",
      "commandprompt": "cmd.exe",
      "notepad": "notepad.exe",
      "pycharm": "pycharm.exe",
      "perforce": "p4v",
      "chrome": "C:\\Program Files\\Google\\Chrome\\Application\\chrome.exe",
      "notepadplusplus": "C:\\Program Files\\Notepad++\\notepad++.exe",
      "globalprotect": "C:\\Program Files\\Palo Alto Networks\\GlobalProtect\\PanGPA.exe",
      "vncviewer": "C:\\Program Files\\RealVNC\\VNC Viewer\\vncviewer.exe"
    }
  }
}